*~
*.d.ts
*.js
*.js.map
*.log

./test/*.js
.directory
.idea
.nyc_output
.project
.settings
.vscode

!.eslintrc.js
!setupTopics.js

coverage/
lib/
node_modules/
npm-debug.log

config
id_rsa
id_rsa.pub
known_hosts
